# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically
*.out

# IDE/Editor specific files
.vscode/
.idea/
*.swp
*~

# OS specific files
.DS_Store
Thumbs.db

# Project specific executables
builder-cli.exe
server.exe

# Personal Notes / Logs
chat*.md
PLAN.md
