{{ define "extra_css" }}
    <link rel="stylesheet" href="/static/css/admin-editor.css">
{{ end }}

{{ define "content" }}
{{/* .ModuleData here will be the *model.Module from the handler */}}
<h2>Editing Module: {{ .ModuleData.Name }} ({{ .ModuleData.ID }})</h2>

<div class="gws-editor-layout" data-module-id="{{ .ModuleData.ID }}">

    {{/* File List Pane */}}
    <div class="gws-file-list-pane">
        <h4>Templates</h4>
        <ul id="template-file-list">
            {{ range .ModuleData.Templates }}
            <li>
                <button class="file-button" data-filename="{{ .Name }}">
                    {{ .Name }}
                </button>
            </li>
            {{ else }}
            <li>No templates found for this module.</li>
            {{ end }}
        </ul>
        {{/* TODO: Add button to add new template file? */}}
    </div>

    {{/* Editor Pane */}}
    <div class="gws-editor-pane">
        <div class="gws-editor-controls"> <!-- Added this wrapper -->
            <h4>Editor: <span id="current-filename">No file selected</span></h4>
            <div> <!-- Wrapper for button and status -->
                <button id="save-changes-button" disabled>Save Changes</button>
                <span id="save-status"></span>
            </div>
        </div>
        <textarea id="editor-content"
            placeholder="Select a file from the left to edit..."
            readonly
        ></textarea>
    {{/* Removed the extra div that was here previously */}}
    </div>

    {{/* Preview Pane */}}
    <div class="gws-preview-pane-container">
        <h4>Live Preview</h4>
        <div id="preview-pane">
            Select a file and start editing to see preview...
        </div>
    </div>

</div>

<script src="/static/js/admin-editor.js" defer></script>
{{ end }}